ul{
   display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    margin-left: -20px;
}
body{
    color: white;
    background-color: black;
}
a{
    color: white;
}
.imagem{
    width: 1135px;
    height: 250px;
}
